#Metadata:

*   @Author: Juan David Buendía Loyo
*   @Date: 2022/02/12
*   @Description: This Python notebook shows basic exercises

#Ejercicios Basicos

##Ejercicio 1: Productos + IVA

In [ ]:
product_1 = int(input("Input first product net value: "))
product_2 = int(input("Input second product net value: "))
product_3 = int(input("Input third product net value: "))
product_4 = int(input("Input fourth product net value: "))
product_5 = int(input("Input fith product net value: "))
total = product_1 + product_2 + product_3 + product_4 + product_5
print("Subtotal is: ", total)
print("You have to pay: ", int(total * 1.19))

Input first product net value: 1000
Input second product net value: 1000
Input third product net value: 1000
Input fourth product net value: 1000
Input fith product net value: 1000
Subtotal is:  5000
You have to pay:  5950

###Versión Python:

In [8]:
prod1, prod2, prod3, prod4, prod5 = (input("Input the products value separated with commas:")).split(",")
subtotal = (int(prod1) + int(prod2) + int(prod3) + int(prod4) + int(prod5))
print("Total: ", subtotal, "Total + IVA:", int(subtotal*1.19))

Input the products value separated with commas:1,2,3,4,5
Total:  15 Total + IVA: 17

##Ejercicio 2: Mayor menor y promedio

In [ ]:
number1 = int(input('Enter First number : '))
number2 = int(input('Enter Second number : '))
number3 = int(input('Enter Third number : '))
def largest(num1, num2, num3):
    if (num1 > num2) and (num1 > num3):
        largest_num = num1
    elif (num2 > num1) and (num2 > num3):
        largest_num = num2
    else:
        largest_num = num3
    print("The largest of the 3 numbers is : ", largest_num)
def smallest(num1, num2, num3):
    if (num1 < num2) and (num1 < num3):
        smallest_num = num1
    elif (num2 < num1) and (num2 < num3):
        smallest_num = num2
    else:
        smallest_num = num3
    print("The smallest of the 3 numbers is : ", smallest_num)
largest(number1, number2, number3)
smallest(number1, number2, number3)
print("Average: ", (number1 + number2 + number3) / 3)

Enter First number : 55
Enter Second number : 945
Enter Third number : 100
The largest of the 3 numbers is :  945
The smallest of the 3 numbers is :  55
Average:  366.6666666666667

###Versión Python

In [14]:
var1, var2, var3 = input ("ingrese tres numéros separados por coma:").split(",")
print("Menor: ", min(int(var1), int(var2), int(var3)), " Max: ", max(int(var1), int(var2), int(var3)))
print("Promedio: ", ( (int(var1) + int(var2) + int(var3)) / 3))

ingrese tres numéros separados por coma:1,67,23
Menor:  1  Max:  67
Promedio:  30.333333333333332

##Ejercicio 3: Ordenar lista de tamaño N de mayor a menor y de menor a mayor

In [23]:
import random
number = int(input('Enter list size: '))
lista= [ random.randrange(number) for i in range(number)]
print(lista, sorted(lista), sorted(lista, reverse=True))

Enter list size: 15
[12, 13, 3, 10, 0, 12, 6, 3, 12, 11, 9, 12, 6, 3, 2] [0, 2, 3, 3, 3, 6, 6, 9, 10, 11, 12, 12, 12, 12, 13] [13, 12, 12, 12, 12, 11, 10, 9, 6, 6, 3, 3, 3, 2, 0]